.main{
    height: 520px;
    width: 1640px;
    margin-left: 140px;
   

}
.imgSection{    
    display: flex;
    flex-direction: row; 
    gap: 16px;   
      
    width: 1244px;
    margin-right: 140px;
}
.ttlClt{
    margin-top: 3rem;
}
.card{
    width: 563px;
    height: 407px;
}



/* .container .imageItem:houver{
    scale: 1.2;
    transition: .5s;
}

.container .imageItem::before{
    top: 1018px;
    left: 692px;
    width: 536px;
    height: 520px;
    opacity: 1;
}
.container .imageItem:hover::before {
    opacity: 0;
    transition: .2s;
} */
