.box_1 {
    margin-top: 72px;
    
}

.container_result_title h3 {
    height: 53px;
    text-align: left;
    font: normal normal bold 36px Space Mono;
    letter-spacing: 0px;
    opacity: 1;
}

.box_2 {
    display: flex;
    margin-top: 14px;
    
}

.container_result img {
    width: 398px;
    height: 224px;
    opacity: 1;
}

.container_result_2 h3 {
    margin-top: 51px;    
    width: 353px;
    height: 53px;
    text-align: left;
    font: normal normal bold 36px Space Mono;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
}

#description {    
    margin-top: 5px;
    width: 536px;
    height: 92px;
    text-align: left;
    font: normal normal normal 28px Space Mono;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
}

#title_2 {
    margin-top: 76px;
    margin-left: 15px;
    width: 375px;
    height: 53px;
    text-align: left;
    font: normal normal bold 36px Space Mono;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
}
#images {
    width: 1260px;
    margin-left: 130px;
}

.img {
    width: 398px;
    height: 224px;  
    margin-bottom: 20px;
}

.img_center {
    width: 404px;
    height: 224px;
  
}