@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Layout Properties */
.container_hashtags {
  position: absolute;
  top: 209px;
}

.container_hashtags_1 {
  left: 107px;
  width: 167px;
  height: 31px;
}

.container_hashtags_2 {
  left: 312px;
  width: 77px;
  height: 31px;
}

.container_hashtags_3 {
  left: 426px;
  width: 129px;
  height: 31px;
}

.container_hashtags_4 {
  left: 592px;
  width: 116px;
  height: 31px;
}

.container_hashtags_5 {
  left: 740px;
  width: 180px;
  height: 31px;
}

.container_hashtags_6 {
  left: 951px;
  width: 167px;
  height: 31px;
}

.container_hashtags_7 {
  left: 1556px;
  width: 77px;
  height: 31px;
}

/* UI Properties */
.container_hashtags_1,
.container_hashtags_2,
.container_hashtags_3,
.container_hashtags_4,
.container_hashtags_5,
.container_hashtags_6,
.container_hashtags_7 {
  text-align: left;
  margin-left: 37px;
  font: italic normal normal 21px/31px Space Mono;
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
}
