@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Layout Properties */
.container_header {
    top: 0px;
    left: -1px;
    width: 100%;
    height: 100px;
    display: flex;
  
    /* UI Properties */
    background: var(---4761b4) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unamed-color-70707000);
    background: #4761b4 0% 0% no-repeat padding-box;
    border: 1px solid #70707000;
    opacity: 1;
  }
  
  /* Layout Properties */
  .container_header_menu_rectangle {
    position: relative;
    top: 29px;
    left: 139px;
    width: 93px;
    height: 13px;
    margin-right: 27px;
    margin-bottom: 6px;
    border-radius: 2px;
  
    /* UI Properties */
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  /* Layout Properties */
  .container_header_title {
    position: relative;
    top: 21px;
    left: 135px;
    width: 270px;
    height: 51px;
  }
  .container_header_title_link {
    position: relative;
  
    /* UI Properties */
    text-align: left;
    font: normal normal bold 46px/69px Space Mono;
    letter-spacing: 0px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
  }
  
  /* Layout Properties */
  .container_header_login {
    position: relative;
    top: 31px;
    left: 1534px;
    margin: 0px 163px 0px -245px;
    width: 92px;
    height: 45px;
    background-color: #4761b4;
  }
  /* UI Properties */
  .container_header_login_text {
    text-align: left;
    font: normal normal normal 30px/45px Space Mono;
    letter-spacing: 0px;
    color: #ccc;
    opacity: 1;
  }
  
  /* Layout Properties */
  .container_header_circle {
    position: relative;
    left: 1683px;
    margin: 0px 0px 0px -218px;
    background-color: #4761b4;
    width: 73px;
    height: 97px;
  }
  .container_header_circle_figure {
    position: relative;
    top: 14px;
    right: 73px;
    width: 73px;
    height: 73px;
    border-radius: 36px;
  
    /* UI Properties */
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
  }

