.header {
  background-color: var(--header-bg-color);
  height: 100px;
  border: 1px solid var(--border-color);
  width: 100vw;
  height: 100px;
  display: flex;
  flex: 1 1 200px;
}

.navMenu { 
  width: 93px;
  height: 54px; 
  margin-top: 29px;
  margin-left: 140px;
}

.b1,.b2,.b3 {
  width: 93px;
  height: 13px;
  margin-bottom: 6px;
  background-color: #fff;
}

.boxTitle {
  width: 270px;
  height: 51px;
  margin-left: 27px;
  margin-top: 21px;
}

.boxTitle a {
  text-decoration: none;
  color: #fff;
  font: normal normal bold 46px Space Mono;
  text-transform: uppercase;
}

.boxLogin {
  width: 92px;
  height: 45px;
  margin-left: 1005px;
  margin-top: 31px;

}

.boxLogin a {
  text-decoration: none;
  font: normal normal bold 30px Space Mono;
  color: #ccc;
}

.boxUser {
  width: 73px;
  height: 73px;
  margin-left: 57px;
  margin-right: 100%;
  margin-top: 14px;

}

.boxUser img {
  width: 73px;
  height: 73px;
}
