@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
  /* Layout Properties */
  top: 0;
  left: 0;
  width: 1920px;
  height: 100px;

  /* UI Properties */
  background-color: #4761b4;
  border: 1px solid #70707000;
  opacity: 1;
}

.container_header {
  display: flex; 
  flex-direction: row;  
  justify-content: space-between;
}

.box {
  display: flex;
}

.container_menu {
  /* Layout Properties */   
  margin-top: 16px;
  margin-left: 140px;
  width: 93px;
  height: 51px;
}
.container_menu_ret1 {
  /* Layout Properties */
  margin-top: 0px;
  width: 93px;
  height: 13px;
  /* UI Properties */
  background-color: #fff;
  opacity: 1;
}
.container_menu_ret2 {
  /* Layout Properties */
  margin-top: 6px;
  width: 93px;
  height: 13px;
  /* UI Properties */
  background-color: #fff;
  opacity: 1;
}
.container_menu_ret3 {
  /* Layout Properties */
  margin-top: 6px;
  width: 93px;
  height: 13px;
  /* UI Properties */
  background-color: #fff;
  opacity: 1;
}

.container_title {
  /* Layout Properties */
  
  margin-top: 9px;
  margin-left: 27px;
  width: 270px;
  height: 51px;

  /* UI Properties */
  text-align: left;
  font: normal normal bold 46px/69px Space Mono;
}
.container_title_text {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.container_login {
  /* Layout Properties */
  
  margin-top: 21px;
  margin-left: 1535px;
  width: 92px;
  height: 45px;

  /* UI Properties */
  text-align: left;
  font: normal normal normal 30px/45px Space Mono;
  letter-spacing: 0px;
  color: #ccc;
  opacity: 1;
}

.container_circle {
  /* Layout Properties */
  
  margin-top: 2px;
  margin-left: 57px;
  width: 73px;
  height: 73px;
}
.container_circle_img {
  width: 73px;
  height: 73px;
}
