footer {
    width: 100%;
    height: 431px;   
    background: var(--footer-bg-color);
    border: 1px solid var(--border-color);
    opacity: 1;
    margin-top: 73px;
}




.box {
    display: flex;
    flex: 1 1 200px;
}

#box_title {      
    margin-top: 31px;
    margin-left: 21%;
    width: 270px;
    height: 51px;
}

#box_title li {
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    font: normal normal bold 46px Space Mono;
    letter-spacing: 0px;
    color: #FFF;
    opacity: 1;
}

#box_redes {   
    display: flex;
    margin-top: 49.19px;
    margin-left: 18.5%;
    height: 100%;
   
}

#box_redes li {       
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    list-style: none;
    opacity: 1;
}

#box_redes img {    
    padding: 6px;   
    width: 35px;
    height: 35px;
}


#box_social {    
    margin-top: 49.29px;
    margin-left: 48%;
    width: 674px;
    height: 164px;    
}

#box_social li {
    list-style: none;
    text-align: left;
    font: normal normal normal 28px Space Mono;
    color: #000;
    opacity: 1;
}

