.container{
    max-width: 1088px;
    max-height: 570px; 
  
}
.containerCarousel{
    display: flex;
    flex-direction: row;
    margin-top: 394px;
    margin-left: 140px;    
}
.sildeItem{
    top: 394px;
    left: 692px;
    width: 100%; 
       
}
.txtbox{
    background-color: #4761B4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 20rem;
    height: 33.33rem;
    margin-right: 1rem;
}
.titleVielas{
    color: white;
    font-family: Space Mono, Bold;    
    margin: 1rem;
    margin-bottom: -1rem;    
}
.txtVielas{
    color: white;
    font-family: Space Mono, Italic;
    font-style: italic;
    margin: 1rem;     
}
